[user]
  name = axsdkr
  email = xxx@axsdkr.com
[alias]
  ba = branch -a
  br = branch
  ca = commit -a
  cm = commit
  co = checkout
  df = diff
  lg = log --oneline
  pl = !git pull origin $(git rev-parse --abbrev-ref HEAD)
  ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
  st = status
